
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
/*   margin: 10px; */
  font-family: 'Karantina';
}


/* navbar */

.header {
  background-color: #000000;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logolobo img {
  height: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  font-size: 55px;
  justify-content: center;
  padding-top: 20px;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #ddd;
}

/* header */

#capçalera {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.slider-container img {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
        animation: fotos 20s ease-in-out 3s infinite alternate;
    }

h1 {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -50%);

    color: #FFFEFE;
    text-shadow: -16px 8px 5.900000095367432px rgba(206, 186, 186, 0.35);
    font-family: Karantina;
    font-size: 170px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.TextoSubtitulo {
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFFEFE;
    position: absolute;
    top: 50%;
    right: 19%;
    transform: translate(50%, -50%);
}

.TextoSubtitulo p,
.TextoSubtitulo h2 {
    font-family: Karantina;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@keyframes fotos {
    0% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    100% {
        left: -300%;
    }
}


/* seccion1 */

#miembros {
    font-family: 'Karantina', 'Mako', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.titulo-miembros {
    display: flex;
    height: 10%;
    align-items: center;
    padding-top: 4em;
}
h2 {
    color:white;
    text-align: left;
    font-size: 83px;
    font-style: normal;
    font-weight: 700;
    text-shadow: -16px 8px 5.9px #cebaba59;
    padding: 50px;
    height: max-content;
    padding-top: 3em;
    margin-bottom: -20px;
}

#miembros {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    gap: 20%;
    background-color: black;
}
.perfiles{
    display:flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    margin-top: -20px;
    height: 60%;
}
.tarjeta-miembro{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25%  
}
.miembro-tokyo-tanaka img,
.miembro-jean-ken-johnny img,
.miembro-dj-santa-monica img,
.miembro-spear-rib img,
.miembro-kamikaze-boy img {
    max-width: 20%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.miembro-tokyo-tanaka p,
.miembro-jean-ken-johnny p,
.miembro-dj-santa-monica p,
.miembro-spear-rib p,
.miembro-kamikaze-boy p {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.miembro-tokyo-tanaka {
    background-color:#d75700;
    padding: 15px;
    border-radius: 8px;
}
.miembro-jean-ken-johnny {
    background-color:#be1818;
    padding: 15px;
    border-radius: 8px;
}
.miembro-dj-santa-monica {
    background-color:#1a8b07;
    padding: 15px;
    border-radius: 8px;
}
.miembro-spear-rib {
    background-color:#e659c9;
    padding: 15px;
    border-radius: 8px;
}
.miembro-kamikaze-boy {
    background-color:#0f2fa0;
    padding: 15px;
    border-radius: 8px;
}





































