




















































































































































#miembros {
    background-color:black;
    padding: 20px;
    text-align: justify;
}

#miembros h2 {
    color: white;
    font-family: karantina;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
}

.miembro-tokyo-tanaka{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    background-color: #d75700;

    
}

.miembro-jean-ken-johnny{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    background-color:#be1818;

}

.miembro-dj-santa-monica{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    background-color: #1a8b07;

}

.miembro-spear-rib{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    background-color: #e569c9;

}

.miembro-kamikaze-boy{
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    background-color: #0f2fa0;

}





























